<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929220553300-45u3igff7iriu4puo43b8nbm14meic2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929220553300-45u3igff7iriu4puo43b8nbm14meic2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDAbIcPxqPLuGiJ77q3ZyTpMaXwCKAF1mE</string>
	<key>GCM_SENDER_ID</key>
	<string>929220553300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.fc.fashionconcept</string>
	<key>PROJECT_ID</key>
	<string>fashionconcept-b320b</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionconcept-b320b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929220553300:ios:1431eab0f091a91cef5bc1</string>
	<key>DATABASE_URL</key>
	<string>https://fashionconcept-b320b.firebaseio.com</string>
</dict>
</plist>